@import 'variables.css';

body{
    font-family: var(--secondary-font);
    font-weight: var(--medium);
}

h1, h2, h3, h4 {
    font-family: var(--main-font);
    font-weight: var(--semi-bold) !important;
    text-align: center;    
}

p, span {
    font-family: var(--secondary-font);
    font-weight: var(--regular);
    line-height: 2.5rem;
    font-size: 1.6rem;    
}
@media (min-width: 1200px){
    p, span{
        font-size: 1.7rem;
    }
}

ul {
    list-style: none;
}

li {
    font-family: var(--link-font);
    font-weight: var(--regular); 
    color: var(--neutral-2); 
    text-align: justify;
    transition-property: color;
    transition-duration: .5s;
    font-size: 1.9rem;
}
@media (min-width: 480px){
    li{
        font-size: 2rem;
    }
}

a {
    font-family: var(--link-font);
    font-weight: var(--medium); 
    color: var(--neutral-2);    
    text-align: center;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
    cursor: pointer;  
    font-size: 1.8rem;
}

i {
    font-family: var(--link-font);
    font-weight: var(--regular); 
    color: var(--neutral-2);    
    text-align: center;
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s; 
    font-size: 1.4rem;
}
header i{
    font-size: 2rem;
}


